<% if @success == true %>
    $("#message").html("<div class='alert alert-success' role='alert'>You are now subscribed!</div>");
<% else %>
    $("#message").html("<div class='alert alert-danger' role='alert'>Oops, something went wrong.<% @errors.full_messages.each do |error| %><li><%= error %></li><% end %></div>");
<% end %>
