<div class="container-fluid page-header py-5 px-5">
  <div class="row">
    <div class="col px-5">
      <h1>Parts & Accessories</h1>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button type="button" class="btn btn-primary btn-lg px-5 primary-button">Shop</button>
    </div>
  </div>
</div>
<div class="container-fluid text-center py-3 px-5 bg-ltgrey">
  <blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>
<div class="container-fluid text-center py-3">
  <div class="">Featured Lugnuts Member (Blog Post)</div>
</div>
<div class="container-fluid text-center py-3 bg-ltgrey">
  <div class="">Latest Blog Posts</div>
</div>
<div class="container-fluid text-center py-3">
  <div class="">Newest Product</div>
</div>
<div class="container-fluid text-center py-3 bg-ltgrey">
  <div class="">Featured Products</div>
</div>
<div class="container-fluid text-center py-3">
  <div class="">Mailing List</div>
</div>
</div>
