<p id="notice"><%= notice %></p>

	<div class="row page-header py-5">
	    <div class="col-4"></div>

		<div class="col-4">
			<h1>Parts & Accessories</h1>
			<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<button type="button" class="btn btn-primary btn-lg px-5 primary-button">Shop</button>
		</div>

		<div class="col-4"></div>
	</div>

	<div class="row py-3 bg-ltgrey">
	    <div class="col-12">Testimonial</div>		
	</div>

	<div class="row py-3">
	    <div class="col-12">Featured Lugnuts Member (Blog Post)</div>		
	</div>

	<div class="row py-3 bg-ltgrey">
	    <div class="col-12">Latest Blog Posts</div>		
	</div>

	<div class="row py-3">
	    <div class="col-12">Newest Product</div>		
	</div>

	<div class="row py-3 bg-ltgrey">
	    <div class="col-12">Featured Products</div>		
	</div>

	<div class="row py-3">
	    <div class="col-12">Mailing List</div>		
	</div>
