<div class="container">
  <div class="row p-5">
    <div class="col text-center">
      <h1>Thank you for your order</h1>
        <p>Your order has been placed and is being processed.</p>
        <%= link_to 'Return to homepage', root_path %>
    </div>
  </div>
</div>