<% if @success == true %>
    $("#message").html("<div class='alert alert-success' role='alert'><p>Thank you for contacting us!</p></div>");
<% else %>
    $("#message").html("<div class='alert alert-danger' role='alert'><p>Oops, something went wrong.</p></div>");
<% end %>
