$grey: #333333;
$red: #c80000;
$orange: #ff8b00;
$ltgrey: #f2f2f2;

html,
body {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

body,
p,
ol,
ul,
td {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg-grey {
    background-color: $grey;
}

.bg-ltgrey {
    background-color: $ltgrey;
}

.bg-orange {
    background-color: $orange;
}

.bg-red {
  background-color: $red;
}

.fas,
.fab {
  color: $orange;
}

.page-header {
    background-color: $grey;
    text-align: center;
    align-items: center;
}

.jumbotron {
  background-color: $ltgrey;
}

.footer {
  background-color: $ltgrey;
  color: $grey;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

h1 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: $orange;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: $orange;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: $grey;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: $orange;
  font-weight: 400;
  font-style: normal;
}

/* Links */
a:link {
  color: $orange;
}

a:visited {
  color: $orange;
}

a:hover {
  color: $red;
  text-decoration: none;
}

a:active {
  color: $red;
}

/* Buttons */
.btn:focus,
.btn:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.primary-outline-button.btn.btn-outline-primary {
  color: $orange;
  border-color: $orange;
}

.primary-outline-button.btn.btn-outline-primary:hover,
.primary-outline-button.btn.btn-outline-primary:active {
  color: white;
  background-color: $red;
  border-color: $red;
}

.primary-button.btn.btn-primary {
  color: white;
  background-color: $orange;
  border-color: $orange;
}

.primary-button.btn.btn-primary:hover,
.primary-button.btn.btn-primary:active {
  color: white;
  background-color: $orange;
  border-color: $red;
}

.secondary-button.btn.btn-secondary {
  color: white;
  background-color: $red;
  border-color: $red;
}

.secondary-button.btn.btn-secondary:hover,
.secondary-button.btn.btn-secondary:active {
  color: white;
  background-color: $red;
  border-color: $red;
}

.img-container {
  position: relative;
}

/* Make the image responsive */
.img-container img {
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_image {
  width: 100%;
  max-height: 300px;
  overflow-y: hidden;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  margin: 0 10px;
}


/* Scroll to top */
.back-to-top {
  position: fixed;
  bottom  : 25px;
  right   : 25px;
  display : none;
}

.badge.badge-dark {
  background-color: $red;
}

.orange_dot {
  height: 25px;
  width: 25px;
  background-color: $orange;
  border-radius: 50%;
  display: inline-block;
}

/* end */