@import "global";

.pagination {
  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex;
}

.pagination .page-item.active .page-link {
	font-style: normal;
	background: $orange;
  color: white;
  border: 1px solid #dee2e6;
}

.pagination a:hover,
.pagination a:focus {
	color: $red;
	border-color: $red;
}