// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



trix-toolbar .trix-button-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  } 



.comment-avatar {
    margin: 0.5em;
    max-width: 80%;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.comment-timestamp {
    font-size: 10;
    color: #666666;
    text-align: center;
    width: 100%;
}

.comment-body {
    text-align: justify;
}

.comment-form-nested {
    margin-right: 2em;
}

.pagination {
    justify-content: center;
 }