<div class="footer py-3">
	<div class="container-fluid">

		<div class="row m-0">	
			<%# Logo on small screens %>
			<div class="col-md-6 col-sm-12 d-none d-block d-sm-flex d-md-none img-container center">
				<%= image_tag("logo.png", style: 'height:auto;max-width:350px', alt: "Logo") %>
			</div>

			<%# Logo on larger screens %>
			<div class="col-md-6 col-sm-12 d-none d-md-flex border-right img-container center">
				<%= image_tag("logo.png", style: 'height:auto;max-width:350px', alt: "Logo") %>
			</div>

			<%# Address %>
			<div class="col-md-6 col-sm-12 text-left ">
				<p class="ml-3">
					Lugnuts<br>
					7777 Hubert Drive<br>
					Cleveland, Ohio, 44024<br>
					support@lugnuts.com<br>
				</p>
				<p class="ml-3">
					<a href="https://www.facebook.com/corvette/"><i class="fab fa-facebook pr-1 fa-2x"></i></a>
					<a href="https://www.youtube.com/user/hightechcorvette"><i class="fab fa-youtube fa-2x"></i></a> 
				</p>		
				<small class="ml-3">&#169;<%= Time.current.year %> Lugnuts</small>
			</div>

		</div>
	</div>
</div>
