<div class="row bg-ltgrey pr-4 py-1">
	<div class="col-12">
		<p class="text-right my-1">
			<a href=""><i class="fab fa-facebook pr-1"></i></a>
			<a href=""><i class="fab fa-youtube pr-3"></i></a>
			440-444-4444
		</p>
	</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom" id= "navbar-header">
	<%# Brand %>
	<a class="navbar-brand" href="<%= customers_path %>">
		<%= image_tag("logomark.png", style: 'height:auto;width:50px', alt: "Logomark") %>
		LUGNUTS</a>

	<%# Toggler %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<%# Page Links %>
	<div class="navbar-collapse collapse" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="<%= customers_path %>">Parts & Accessories <span class="sr-only"></span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Blog <span class="sr-only"></span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Company <span class="sr-only"></span></a>
			</li>
		</ul>
		<%# Login %>
		<a id="customLink" class="mr-3" href="">Login</a>
		<button type="button" class="btn btn-primary primary-button">Sign Up</button>
	</div>

</nav>
